html {
    background-color: #d3e1ed;
    background-image: url(poki.png);
    background-repeat: round;
}

body {
    /* background: url("./pokemon-bg.jpg") no-repeat; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#pokiname {

    border: 3px solid #51565c;
    background-color: orange;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

/* #content-box {
    width: 60rem;
    height: 37rem;
    border: 10px solid #51565c;
    border-radius: 20px;

    /* background-color: green; */
    /* background-color: #e64135; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* margin-top: 60px; */

    /* background: url("./pokeball.jpg") no-repeat; */
    /* background-size: cover; */

    /* margin-bottom: 80px; */
    
/* }  */

  #pokemon-info {
    width: 250px;
    height: 500px;
    /* margin: auto; */
    margin: auto;
    /* margin-bottom: 0px; */
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    
} 

 #pokemon-list {
    width: 22rem;
    height: 37rem;
    margin: auto;
    margin-right: 0;
    overflow-y: auto;
    border: 5px solid #51565c;
    border-radius: 4px;
    margin-left: auto;

    


}  

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: white; */
    background-color: #bd3c3c;
    margin: 5px;
    padding: 5px;

}

#pokemon-info img {
    width: 260px;
    height: 260px;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 20px;
    background-color: darkgrey;
}

#pokemon-types {
    margin-top: 10px;
    
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}


.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

#pokemon-description {
    width: 250px;
    height: 180px;
    /* background-color: white; */
    background-color: #bd3c3c;
    border: 2px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;
}

.buttons {
    text-align: center;
}

.text-center {
    display: flex;
    text-align: center;
  }

.under-center {
    display: flex;
    text-align: center;
}

#searchType {
    margin-left: 16px;
    }

.under-center {
    margin-top: 3px;
    }


/* .pokicards { */
    /* width: 350px; */
    /* height: 450px; */
    /* border: 10px solid #51565c; */
    /* border-radius: 20px; */

    /* background-color: green; */
    /* background-color: #e64135; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* ft: 3.margin-le5rem; */
    /* margin-top: 60px; */

    /* background: url("./pokeball.jpg") no-repeat; */
    /* background-size: cover; */
    
/* } */



/* .pokicards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

  
.pokicards {
    flex: 0 1 24%;
} */


#card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 15px;
    /* grid-auto-rows: max-content; */
}

.pokicards {

    display: flex;
    width: 350px;
    height: 450px;
    border: 10px solid #51565c;
    border-radius: 20px;
    background-color: #e64135;
    text-align: center;
}


.card-img{

    /* display: flex; */
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgrey;
    /* text-align: center; */
    margin: 0 2%;
    padding: 2%;
    margin-left: 2.4rem;
}

.nameStyle {
    
    border: 3px solid #51565c;
    background-color: orange;
    border-radius: 20px;
    margin-left: 4.5rem;
    width: 200px;

}

.description {

    width: 250px;
    height: 90px;
    background-color: #bd3c3c;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 2%;
    padding: 2%;
    margin-left: 2.4rem;

}


#welcome {

    
    text-align: center;
    border: 3px solid #51565c;
    background-color: orange;
    border-radius: 20px;
    display: table;
    margin: 0 auto;
    margin-top: 4%;
    padding: 5px;

}

/* #content-box {
    width: 60rem;
    height: 37rem;

    border: 10px solid #51565c;
    border-radius: 20px;

    background-color: green;
    background-color: #e64135;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;


    background-size: cover;

    margin-bottom: 80px;
    overflow-y: auto;

} */

#content-box{


    display: grid;
    max-width: 790px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    background-color: #e64135;
    border: 10px solid #51565c;
    border-radius: 20px;
    margin: 60px auto;
    overflow-x: auto


}

/* #pokemon-list {
    overflow-y: auto;
    border: 5px solid #51565c;
    border-radius: 4px;
    overflow-y: auto;

} */
